In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [28]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [35]:
df=pd.read_csv('../input/topreee/Titanic.csv')
df

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [37]:
df1=pd.get_dummies(df)
df1

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
2196,0,0,0,1,1,0,1,0,0,1
2197,0,0,0,1,1,0,1,0,0,1
2198,0,0,0,1,1,0,1,0,0,1
2199,0,0,0,1,1,0,1,0,0,1
2200,0,0,0,1,1,0,1,0,0,1

In [40]:
df2 = apriori(df1, min_support = 0.3, use_colnames = True)
df2

     support                                           itemsets
0   0.320763                                        (Class_3rd)
1   0.402090                                       (Class_Crew)
2   0.786461                                      (Gender_Male)
3   0.950477                                        (Age_Adult)
4   0.676965                                      (Survived_No)
5   0.323035                                     (Survived_Yes)
6   0.391640                          (Gender_Male, Class_Crew)
7   0.402090                            (Age_Adult, Class_Crew)
8   0.305770                          (Survived_No, Class_Crew)
9   0.757383                           (Gender_Male, Age_Adult)
10  0.619718                         (Survived_No, Gender_Male)
11  0.653339                           (Survived_No, Age_Adult)
12  0.391640               (Gender_Male, Age_Adult, Class_Crew)
13  0.304407             (Survived_No, Gender_Male, Class_Crew)
14  0.305770               (Survived_No, Age_Adult, Class_Crew)
15  0.603816              (Survived_No, Gender_Male, Age_Adult)
16  0.304407  (Survived_No, Gender_Male, Age_Adult, Class_Crew)

In [41]:
df_ar = association_rules(df2, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
1,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
2,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
3,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
4,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
5,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
6,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
7,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
8,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
9,"(Gender_Male, Class_Crew)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
10,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
11,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
12,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
13,"(Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
14,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
15,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
16,"(Age_Adult, Class_Crew)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
17,(Class_Crew),"(Survived_No, Age_Adult)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
18,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
19,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
20,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
21,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
22,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
23,(Age_Adult),"(Survived_No, Gender_Male)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660
24,"(Survived_No, Gender_Male, Class_Crew)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
25,"(Survived_No, Age_Adult, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
26,"(Gender_Male, Age_Adult, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
27,"(Survived_No, Class_Crew)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
28,"(Gender_Male, Class_Crew)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
29,"(Age_Adult, Class_Crew)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
30,(Class_Crew),"(Survived_No, Gender_Male, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802

In [45]:
df_ar[ (df_ar['lift'] >= 1) &
       (df_ar['confidence'] >= 0.8) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
1,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
3,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
5,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
7,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
9,"(Gender_Male, Class_Crew)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
10,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
11,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
12,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
15,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
18,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
19,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
21,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
24,"(Survived_No, Gender_Male, Class_Crew)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
25,"(Survived_No, Age_Adult, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
27,"(Survived_No, Class_Crew)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079